/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the lines below */
@layer utilities {
    @variants responsive {
        .masonry {
            column-count: 3;
            column-gap: 2em;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}